:root {
}

table {
    --bs-table-striped-bg: #fafafa !important;
}

a {
    text-decoration: none;
}

header h1 {
  letter-spacing: -0.1em;
}

.btn-outline-primary {
    --bs-btn-color: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: var(--primary-color);
    --bs-btn-hover-border-color: var(--primary-color);
    --bs-btn-active-bg: var(--primary-color);
    --bs-btn-active-border-color: var(--primary-color);
    --bs-btn-disabled-color: var(--primary-color);
    --bs-btn-disabled-border-color: var(--primary-color);
}

.btn-primary {
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-disabled-bg: var(--primary-color);
  --bs-btn-disabled-border-color: var(--primary-color);
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.nav-link, a {
    color: var(--primary-color);
}

.tooltip.tooltip-app {
    --bs-tooltip-max-width: 400px;
    --bs-tooltip-opacity: 0.9;
    --bs-tooltip-bg: #fff;
    --bs-tooltip-color: #000;
    --bs-tooltip-padding-x: 0.75rem;
    --bs-tooltip-padding-y: 0.5rem;
}

.tooltip.tooltip-app div.tooltip-inner {
    border: 1px solid #cecece;
    text-align: left;
}

#calendars {
    --calendar-bg-day-color: #fff;
    --calendar-bg-day-event-color: #fbbabb; /* rose */
    --calendar-bg-day-current-color: #666;
    --calendar-line-height: 40px;
    --calendar-day-width: 3px;

    width: calc(100vw - 17rem);
}

.calendar {
    margin-bottom: 1rem;
}

#sidebar {
    width: 17rem;
}

.cal-header {
    /*position: sticky;*/
    top: 0;
    display: flex;
    z-index: 101;
    line-height: var(--calendar-line-height);
}

.cal-header .cal-titre-header {
    background: #fff;
    border: none;
    padding-left: 0;
}

.cal-header .cal-month {
    background: #fff;
    border-top: 1px solid #dee2e6;
}

.cal-header .cal-month:first-child {
    border-radius: 8px 0 0 0;
}

.cal-header .cal-month:last-child {
    border-radius: 0 8px 0 0;
}


.cal-ligne:first-child .cal-titre {
    border-radius: 8px 0 0 0;
}

.cal-ligne:last-child .cal-titre {
    border-radius: 0 0 0 8px;
    border-bottom: 1px solid #dee2e6;
}

.cal-titre {
    height: var(--calendar-line-height);
    width: 280px;
    background: var(--calendar-bg-day-color);
    line-height: var(--calendar-line-height);
    padding-left: 0.75rem;
    left: 0;
    border-left: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    flex-shrink: 0;
}

.cal-ligne:hover .bi-file-earmark {
    display: none !important;
}

.cal-ligne:hover .bi-eye {
    display: inline !important;
}

.cal-titre-txt {
    width:235px;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cal-month[data-nbdays="28"] { --calendar-nb-days: 28; }
.cal-month[data-nbdays="29"] { --calendar-nb-days: 29; }
.cal-month[data-nbdays="30"] { --calendar-nb-days: 30; }
.cal-month[data-nbdays="31"] { --calendar-nb-days: 31; }

.cal-month[data-nbdays] {
    width: calc((var(--calendar-day-width) * (var(--calendar-nb-days))) + 1px);
}

.cal-month {
    border-left: 1px solid #dee2e6;
    background: var(--calendar-bg-day-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-ligne .cal-month:last-child {
    border-right: 1px solid #dee2e6;
}

.cal-ligne:last-child .cal-month .jour {
    border-bottom: 1px solid #dee2e6;
}

.cal-ligne {
    display: flex;
}

.cal-month .jour {
    display: block;
    float: left;
    height: var(--calendar-line-height);
    background-color: var(--calendar-bg-day-color);
    cursor: pointer;
    width: var(--calendar-day-width);
    border-top: 1px solid #dee2e6;
}

.cal-month .active {
    background-color: var(--calendar-bg-day-event-color) !important;
}
.cal-month .jourfin {
    filter: brightness(0.55) !important;
}

.cal-ligne:nth-child(odd) .cal-month .jourfin {
    filter: brightness(0.50) !important;
}

.cal-month .jourcourant {
    background: var(--calendar-bg-day-current-color) !important;
    border-top: 1px solid transparent;
}

.cal-month .passe.active.jourfin {
    filter: brightness(0.8) !important;
}

.cal-ligne:nth-child(odd) .cal-month  .passe.active.jourfin {
    filter: brightness(0.75) !important;
}

.cal-month .passe  {
    background: #fcfcfc !important;
}

.cal-month .passe.active  {
    background: #d2d2d2 !important;
}

.cal-ligne:nth-child(odd) .cal-titre, .cal-ligne:nth-child(odd) .cal-month .jour {
    filter: brightness(0.98);
}

.cal-ligne:nth-child(odd) .cal-month .active {
    filter: brightness(0.95);
}

.cal-ligne .cal-month .jour:hover {
    filter: brightness(0.5) !important;
}

.organisme-card {
    background-color: #f2f2f2;
    margin-bottom: 1rem;
}

.organisme-card > div {
    padding-bottom: .5rem;
}

p.tags-header > span:not(:last-child) {
    margin-right: 1rem;
}

.ql-container {
    height: unset;
}

#sidebar-list-organismes label {
    opacity: 0.8;
    height: 76px;
    width: 76px;
}
#sidebar-list-organismes label span {
    width: 74px;
    height: 21px;
    text-overflow: '';
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0 0 var(--bs-btn-border-radius) var(--bs-btn-border-radius);
    text-transform: uppercase;
    opacity: 0.9;
}

#sidebar-list-organismes label.active {
    border-width: 2px;
}

#sidebar-list-organismes label.active span {
    background: var(--primary-color) !important;
    color: #fff !important;
}

.btn.btn-outline-primary.btn-sm {
}

.btn-check:checked + .btn {
opacity: 1 !important;
}

.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.timeline::after {
    /* Trait vertical */
    background-color: var(--bs-primary-bg-subtle);
    bottom: 0;
    content: "";
    left: 0;
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 2px;
}

.timeline > .timeline-item {
    margin: 0;
    padding: 0;
    position: relative;
}

.timeline > .timeline-item::after {
    /* Cercle */
    background: var(--bs-light);
    border: 2px solid var(--bs-primary);
    border-radius: 50%;
    content: "";
    height: 16px;
    left: calc(8px * -1);
    position: absolute;
    top: calc(2rem + 3px);
    width: 16px;
    z-index: 1;
}

.timeline > .timeline-item .timeline-body {
    margin: 0;
    padding: 0;
    position: relative;
}

.timeline > .timeline-item .timeline-meta {
    padding: 2rem 0 1rem 2rem;
}

.timeline > .timeline-item .timeline-content {
    padding: 0 0 2rem 2rem;
}

@media (max-width: 575px) {
    #sidebar {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .timeline:after {
        left: 15%;
    }

    .timeline > .timeline-item {
        left: 15%;
    }

    .timeline > .timeline-item .timeline-meta {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        left: -100%;
        margin: 0;
        padding: 0 2rem 0 0;
        position: absolute;
        top: 2rem;
        width: 100%;
        z-index: -1;
    }

    .timeline > .timeline-item:first-child .timeline-meta {
        padding: 0 2rem 0 0;
    }

    .timeline > .timeline-item .timeline-content {
        padding: 2rem;
    }
}

summary {
    display: block;
}

summary::after {
    margin-left: 1ch;
    display: inline-block;
    font-family: bootstrap-icons !important;
    content: "\F231";
    transition: 0.2s;
    font-size: 10px;
}

details[open] > summary::after {
    transform: rotate(90deg);
}

.form-check-label {
    cursor: pointer;
}

/* Admin */

.form-signin {
  max-width: 40vh;
  min-height: 60vh;
  padding: 1rem;
}
