:root {
  --calendar-bg-color: #f6f6f6;
}

#calendrierVue .cal-titre {
    height: 30px;
    width: 400px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right: 3px solid white;
    background: var(--calendar-bg-color);
}

#calendrierVue .cal-month {
    border-right: 3px solid white;
    background: var(--calendar-bg-color);

}

#calendrierVue .cal-ligne {
    display: flex;
    margin-bottom: 3px;
}

#calendrierVue .ligne .jour {
    display: block;
    float: left;
    height: 30px;
    background-color: var(--calendar-bg-color);
    cursor: pointer;
    width: 3px;
}

#calendrierVue .ligne .active {
    background-color: #d1e7dd !important;
}
#calendrierVue .ligne .jourfin {
    background-color: #75b798 !important;
}
#calendrierVue .ligne .jour:hover,
#calendrierVue .ligne .jourcourant {
    background-color: #6c757d !important;
}

.organisme-card {
    background-color: #ddd;
    margin-bottom: 1rem;
}

.organisme-card > div {
    padding-bottom: .5rem;
}
