#calendrierVue .ligne .jour {
    display: block;
    float: left;
    height: 30px;
    background-color: #e2e2e2;
    cursor: pointer;
}
#calendrierVue .ligne .jour:hover {
    background-color: #000 !important;
}

#calendrierVue .ligne .active {
    background-color: #f00 !important;
}

#calendrierVue .ligne .jourcourant {
    background-color: #000 !important;
}

.organisme-card {
    background-color: #ddd;
    margin-bottom: 1rem;
}

.organisme-card > div {
    padding-bottom: .5rem;
}
